<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <!-- Bouton avec l'image, en forme rectangulaire -->
        <button pButton class="p-button layout-menu-button layout-topbar-button" 
            style="width: 230px; height: 70px; padding: 3px; border-radius: 5px;">
            <img src="../../assets/layout/images/logo_menu.png" alt="logo" style="height: 150px; width: 200px;" />
        </button>
    </a>
    

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
</div>