/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

.layout-config-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
  
      .col-3 {
        display: flex;
        justify-content: center;
        align-items: center;
  
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
          border: none;
          background-color: transparent;
          cursor: pointer;
          transition: transform 0.3s ease;
  
          &:hover {
            transform: scale(1.2);
          }
  
          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  